body {
    background-color: rgba(221, 231, 234, 1);
    font-family: "Inria Serif", sans-serif;
    margin: 0;
    margin-left: 3%;
}

.main-header {
    margin-top: 1%;
    margin-bottom: 2%;
}

.logo {
    margin: 0;
    font-size: 2.6vw;
}

.site-navigation {
    display: flex;
    margin-top: 1%;
    padding-left: 0;
}

.site-navigation-item {
    padding-left: 0;
    margin-right: 0.3vw;
    font-size: 1.2vw;
    position: relative;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.site-navigation-item a {
    padding: 0.5vw;
}

main {
    display: grid;
    grid-template-columns: 55fr 17fr 28fr;
    grid-template-areas: "main-graph tables tables"
                         "main-graph minimum-search minimum-search"
                         "algorithm-step algorithm-step calculations";
    gap: 3%;
}

.main-graph {
    grid-area: main-graph;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "start-from control-buttons"
                         "graph-image graph-image";
    align-items: center;
}

.tables {
    grid-area: tables;
    margin-left: auto;
    margin-right: auto;
}

.minimum-search {
    grid-area: minimum-search;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.algorithm-step {
    grid-area: algorithm-step;
    border-right: 1px solid black;
    padding-right: 1vmin;
}

.calculations {
    grid-area: calculations;
}

.start-from {
    grid-area: start-from;
    display: flex;
    align-items: center;
    margin-left: 3vw;
    margin-right: 10.5vw;
}

.start-from img {
    width: 24px;
    height: auto;
}

.start-from p {
    font-size: 16px;
    margin-left: 0.4vw;
}

.pseudo-form {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    background-color: white;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    text-align: center;
    margin-top: 0.2vw;
    margin-left: auto;
    padding-left: 4px;
    padding-right: 4px;
}

.graph-control-buttons {
    grid-area: control-buttons;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 10.5vw;
    margin-right: 2.5vw;
}

.graph-image {
    margin-left: auto;
    margin-right: auto;
    grid-area: graph-image;
    height: 47vmin;
    width: auto;
}

.heap-image {
    margin-left: auto;
    margin-right: auto;
    height: 19vmin;
}

h1 {
    font-family: Italiana, sans-serif;
    color: rgba(172, 35, 220, 1);
}

h2 {
    font-size: 18px;
}

.algorithm-step p {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.can-hover:hover {
    color: mediumblue;
}

.with-options {
    background-color: wheat;
    color: rgb(115, 143, 152);
    /* rgb(141, 167, 175);
    rgb(115, 143, 152);
    mediumblue; */
}

.empty a:active {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

ul {
    list-style-type: none;
}

table {
    font-size: 1vw;
    font-weight: bold;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-collapse: collapse;
}

td, th {
    padding: 0.3vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    text-align: center;
}

td img {
    width: 1.5vw;
    height: auto;
}

.table-1 {
    margin-bottom: 2.6vmin;
}

.graph-button {
    border: 1px solid black;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.08);
    width: 1.5vw;
    height: auto;
}

.help-popup {
    display: none;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.help-popup-content {
    margin: 40px auto 0 auto;
    width: 50%;
    height: 65vh;
    padding: 40px 20px;
    background-color: white;
    box-shadow: 0 0 10px #000;
    position: relative;
}

.help-popup-content p {
    font-size: 16px;
}

.help-popup-close {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.help-popup-close img {
    margin-top: auto;
    margin-bottom: auto;
}

.help-popup-close:hover {
    background-color: red;
}

.speed-popup {
    margin-top: 10px;
    left: -5vw;
    width: 12vw;
    height: 5vh;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 10px #000;
    position: absolute;
    color: white;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.speed-value {
    font-size: 16px;
}

input[type=range] {
    accent-color: blue;
}

.implementation-popup {
    display: none;
    margin-top: 0.5vw;
    width: 150px;
    height: 90px;
    padding: 10px;
    background-color: darkslateblue;
    color: lightgray;
    position: absolute;
    font-size: 16px;
}

.implementation-popup ul {
    padding-left: 0;
}

.implementation-option {
    margin-bottom: 8px;
}

.implementation-option:last-child {
    margin-bottom: 0;
}

.implementation-option label {
    margin-right: 0;
    padding-right: 20px;
}

.implementation-option label:hover {
    color: whitesmoke;
}

input[type=radio] {
    accent-color: darkorange;
}