.page-container {
    border: 2px dotted black;
}

header, section {
    border: 2px solid red;
}

.header-nav, .graph-image, .heap-image,
.graph-control-buttons, .start-from, h1, h2, p {
    border: 2px solid yellow;
}

.site-navigation, .start-from p {
    border: 2px solid blue;
}

li {
    border: 2px solid pink;
}

a {
    border: 2px solid green;
}

.button {
    border: 2px dotted chocolate;
}